<div class="container mt-5 mb-5">
    <div class="row row-cols-auto justify-content-center g-5">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imagem</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            <tbody>
                {{tabelaCarrinho}}
            </tbody>
        </table>
    </div>
</div>